<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!--Added-->
  <connectionStrings>
    <add name="TorqDB" connectionString="Data Source=localhost;Initial Catalog=Torq;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
 <system.serviceModel>
    <services>
       <service name="Torq.DataService.EmployeeService">
          <endpoint address="Employee" binding="basicHttpBinding" contract="Torq.DataService.IEmployeeService" />
          <host>
             <baseAddresses>
                <add baseAddress="http://localhost:2112" />
             </baseAddresses>
          </host>
       </service>
       <service name="Torq.DataService.RoleService">
          <endpoint address="Role" binding="basicHttpBinding" contract="Torq.DataService.IRoleService" />
          <host>
             <baseAddresses>
                <add baseAddress="http://localhost:2113" />
             </baseAddresses>
          </host>
       </service>
             <service name="Torq.DataService.SalaryService">
          <endpoint address="Salary" binding="basicHttpBinding" contract="Torq.DataService.ISalaryService" />
          <host>
             <baseAddresses>
                <add baseAddress="http://localhost:2114" />
             </baseAddresses>
          </host>
       </service>
       <service name="Torq.DataService.ScheduleService">
          <endpoint address="Schedule" binding="basicHttpBinding" contract="Torq.DataService.IEmployeeService" />
          <host>
             <baseAddresses>
                <add baseAddress="http://localhost:2118" />
             </baseAddresses>
          </host>
       </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <!--Added-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>