@{
    DateTime dt = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);

}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $('.prev').on('click', prevFunc);
        $('.next').on('click', forwFunc);
        let d = new Date("@ViewBag.Today");
        console.log(d);
        d.setDate(1);
        localStorage.setItem('ViewingDate', d);
        console.log("In the partial!");
        ScrollFunc(0);
    })

    function calendarLiFunc(event) {
        console.log(event.target.innerHTML);
        console.log(localStorage.getItem('ChoosenEmployee'))
        


        let month = document.getElementById('MonthDisplayer').innerHTML;
        //
        const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"];

        let numMonth =monthNames.indexOf(month)+1;
        //
        numMonth < 10 ? numMonth = "0" + numMonth : numMonth = numMonth;
        console.log("0date" + numMonth);

        let day = event.target.innerHTML;
        day < 10 ? day = "0" + day : day = day;

        let year = document.getElementById('YearDisplayer').innerHTML;
        let dateFormat = year + "-" + numMonth + "-" +  day;
        console.log(dateFormat);

        dateFilter2(dateFormat);
    }

    function forwFunc()
    {
        ScrollFunc(1);
    }

    function prevFunc() {
        ScrollFunc(-1);
    }

    function ScrollFunc(plusOrMin)
    {
        let x = new Date(localStorage.getItem('ViewingDate'));
        console.log(x);
        x.setMonth(x.getMonth() + plusOrMin);

        const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"];
        console.log(x.getFullYear());
        document.getElementById('MonthDisplayer').innerHTML = monthNames[x.getMonth()];
        document.getElementById('YearDisplayer').innerHTML = x.getFullYear();
        localStorage.setItem('ViewingDate', x);
        console.log(x);
        let daything = daysInMonth(x.getMonth()+1, x.getFullYear());
        $(".days").empty();
        console.log(x.getDay());

        let daysToJump = 0;

        if (x.getDay() == 1) {
            daysToJump = 0;
        }
        else if (x.getDay() == 2) {
            daysToJump = 1;
        }
        else if (x.getDay() == 3) {
            daysToJump = 2;
        }
        else if (x.getDay() == 4) {
            daysToJump = 3;
        }
        else if (x.getDay() == 5) {
            daysToJump = 4;
        }
        else if (x.getDay() == 6) {
            daysToJump = 5;
        }
        else if (x.getDay() == 0) {
            daysToJump = 6;
        }
        var days = document.getElementById('days');

        for (i = 0; i < daysToJump; i++)
        {
          
            var Li = document.createElement('li');
            Li.innerHTML = "*";
            days.appendChild(Li);
        }


        for (i = 1; i <= daything; i++) {




            var Li = document.createElement('li');
            var zz = 0;

           
            

            Li.innerHTML = i;
            Li.className = "CalendarLi";
            days.appendChild(Li);
             }
        $('.CalendarLi').on('click', calendarLiFunc);

    }
    function daysInMonth(month, year) {
        console.log("månad: " + month + "År: " + year);
        return new Date(year, month, 0).getDate();
    }

</script>

<div class="month">
    <ul>
        <li class="prev">&#10094;</li>
        <li class="next">&#10095;</li>
        <li><span id="MonthDisplayer">@ViewBag.Today.ToString("MMMM")</span><br><span id="YearDisplayer" style="font-size:18px">@ViewBag.Today.ToString("yyyy")</span></li>
    </ul>
</div>

<ul class="weekdays">
    <li>Monday</li>
    <li>Thuseday</li>
    <li>Wendsday</li>
    <li>Thursday</li>
    <li>Friday</li>
    <li>Saturday</li>
    <li>Sunday</li>
</ul>
<ul class="days2"></ul>
<ul class="days" id="days">
    @{
        int daysToJump = 0;

        if (dt.DayOfWeek == DayOfWeek.Monday)
        {
            daysToJump = 0;
        }
        else if (dt.DayOfWeek == DayOfWeek.Tuesday)
        {
            daysToJump = 1;
        }
        else if (dt.DayOfWeek == DayOfWeek.Wednesday)
        {
            daysToJump = 2;
        }
        else if (dt.DayOfWeek == DayOfWeek.Thursday)
        {
            daysToJump = 3;
        }
        else if (dt.DayOfWeek == DayOfWeek.Friday)
        {
            daysToJump = 4;
        }
        else if (dt.DayOfWeek == DayOfWeek.Saturday)
        {
            daysToJump = 5;
        }
        else if (dt.DayOfWeek == DayOfWeek.Saturday)
        {
            daysToJump = 6;
        }

        for (int i = 0; i < daysToJump; i++)
        {
            <li>*</li>
        }
        for (int i = 1; i <= DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month); i++)
        {
           
            <li>@i</li>
            
        }
    }


</ul>
