<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmployeeService" />
                <binding name="BasicHttpBinding_IRoleService" />
                <binding name="BasicHttpBinding_ISalaryService" />
                <binding name="BasicHttpBinding_IScheduleService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/Employee" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmployeeService" contract="EmployeeService.IEmployeeService"
                name="BasicHttpBinding_IEmployeeService" />
            <endpoint address="http://localhost:2113/Role" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRoleService" contract="RoleService.IRoleService"
                name="BasicHttpBinding_IRoleService" />
            <endpoint address="http://localhost:2115/Salary" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISalaryService" contract="SalaryService.ISalaryService"
                name="BasicHttpBinding_ISalaryService" />
            <endpoint address="http://localhost:2114/Schedule" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IScheduleService" contract="ScheduleService.IScheduleService"
                name="BasicHttpBinding_IScheduleService" />
        </client>
    </system.serviceModel>
</configuration>