<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IScheduleService" />
                <binding name="BasicHttpBinding_IRoleService" />
                <binding name="BasicHttpBinding_ISalaryService" />
                <binding name="BasicHttpBinding_IEmployeeService" />
                <binding name="BasicHttpBinding_IScheduleService1" />
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost:2112/Employee" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmployeeService" contract="EmployeesService.IEmployeeService"
                name="BasicHttpBinding_IEmployeeService" />
            <endpoint address="http://localhost:2113/Role" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRoleService" contract="RolesService.IRoleService"
                name="BasicHttpBinding_IRoleService" />
            <endpoint address="http://localhost:2114/Salary" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISalaryService" contract="SalariesService.ISalaryService"
                name="BasicHttpBinding_ISalaryService" />
            <endpoint address="http://localhost:2116/Schedule" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IScheduleService1"
                contract="SchedulesService.IScheduleService" name="BasicHttpBinding_IScheduleService1" />
        </client>
    </system.serviceModel>
</configuration>